{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Experience Page </title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}

    <div class="container">

        <!-- heading  -->
        <div class="container my-5 bg-primary text-light text-center p-2 border-end rounded-3">
            <h1>Experience</h1>
        </div>

        <!-- content  -->

        <div class="container">
            <p class="display-6">Fresher</p>
        </div>






    </div>




{% endblock body %}

