{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}


{% block css %}
{% endblock css %}


{% block body %}

    <div class="container">

        <!-- heading -->
        <div class="container bg-success text-center text-light border-end rounded-3 shadow p-2">
            <h1>ThankYou</h1>
        </div>


        <!-- thanks view  -->
        <div class="my-5 text-center">
            <p class="display-6">ThankYou {{name}}</p>
        </div>


    </div>



{% endblock body %}
